{% extends 'registration/loginbase.html' %}
{% load static %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block content %}
<br>
<div class="login-page">
	<br><br><br><br><br>
<div class="container" id="container">
    <div class="form-container sign-up-container">
		<br><br><br>
        <form method="POST" action="{% url 'customerregister' %}">
            {% csrf_token %}
            <br><br>
            <h2>Create Account</h2>
            {% if user_form %}
                {% for field in user_form %}
                    <div class="form-group">
                        {% if field.name == 'username' %}
                            <input type="text" name="{{ field.name }}" placeholder="Username" value="{{ field.value|default:'' }}" />
                        {% elif field.name == 'first_name' %}
                            <input type="text" name="{{ field.name }}" placeholder="First Name" value="{{ field.value|default:'' }}" />
                        {% elif field.name == 'last_name' %}
                            <input type="text" name="{{ field.name }}" placeholder="Last Name" value="{{ field.value|default:'' }}" />
                        {% elif field.name == 'password1' %}
                            <input type="password" name="{{ field.name }}" placeholder="Password" />
                        {% elif field.name == 'password2' %}
                            <input type="password" name="{{ field.name }}" placeholder="Confirm Password" />
                        {% endif %}
                        {% if field.errors %}
                            <div class="error">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            {% if customer_form %}
                {% for field in customer_form %}
                    <div class="form-group">
                        {% if field.name == 'email' %}
                            <input type="email" name="{{ field.name }}" placeholder="Email" value="{{ field.value|default:'' }}" />
                        {% elif field.name == 'phone_number' %}
                            <input type="text" name="{{ field.name }}" placeholder="Phone Number" value="{{ field.value|default:'' }}" />
                        {% elif field.name == 'address' %}
                            <textarea name="{{ field.name }}" placeholder="Address" rows="3">{{ field.value|default:'' }}</textarea>
                        {% endif %}
                        {% if field.errors %}
                            <div class="error">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form method="POST">
            {% csrf_token %}
            <h2>Sign in</h2>
            <div class="social-container">
                <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <span>or use your account</span>
            {% if form %}
                {% for field in form %}
                    <div class="form-group">
                        {% if field.name == 'username' %}
                            <input type="text" name="{{ field.name }}" placeholder="Username" value="{{ field.value|default:'' }}" />
                        {% elif field.name == 'password' %}
                            <input type="password" name="{{ field.name }}" placeholder="Password" />
                        {% endif %}
                        {% if field.errors %}
                            <div class="error">{{ field.errors.0 }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
            <a href="#">Forgot your password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
                <div class="social-container">
                    <a href="#" class="social"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="social"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>or use your email for registration</span> 
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>
</div>
<br><br><br>
{% endblock %}